//
// Partials -> Aside
// ------------------------------------


//
// Aside
//
.aside {
    @media screen and (min-width: $screen-xl) {
        width: 20%;
    }
}
.section {
    @media screen and (min-width: $screen-xl) {
        width: 80%;
    }
}
aside {
    position: relative;
    z-index: 9;
    background-color: #ffffff;
    @media screen and (max-width: $screen-sm-max) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    &:before {
        content: '';
        position: absolute;
        right: 99%;
        top: 0;bottom: 0;
        width: 300%;
        height: 100%;
        background-color: #ffffff;
    }
}
.aside-menu {
    display: flex;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    text-align: center;
    @extend .middle__xs;
    font-size: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    @media screen and (min-width: $screen-md) {
        position: static;
    }
    li {
        width: 33%;
        height: 50px;
        border-bottom: 3px solid transparent;
        display: flex;
        @extend .middle__xs;
        @extend .center__xs;
        @media screen and (min-width: $screen-md) {
            margin: 36px 0;
            display: block;
            width: auto;
            height: auto;
            border-bottom: none;
        }
    }
    @media screen and (min-width: $screen-md) {
        margin-top: 28px;
        display: block;
        text-align: left;
        font-size: 16px;
        box-shadow: none;
        margin-bottom: 0;
    }
    @media screen and (min-width: $screen-xl) {
        margin-top: 108px;
    }
    a {
        color: #2c2c2c;
        padding: 10px;
        display: block;
        @media screen and (min-width: $screen-md) {
            border-bottom: 3px solid transparent;
            padding: 0;
            display: inline-block;
        }
        &:hover {
            color: #808080;
        }
    }
    .active {
        border-color: $color-type-1a;
        background-color: #fafafa;
        @media screen and (min-width: $screen-md) {
            background-color: inherit;
        }
        a {
           color: #2c2c2c;
           @media screen and (min-width: $screen-md) {
               border-color: $color-type-1a;
           }
        }
    }
}
