//
// Pages -> Index
// ------------------------------------

.loadmore {
    width: 142px;
    height: 142px;
    border-radius: 150px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    @extend .center__xs;
    @extend .middle__xs;
    color: #242424;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    img {
        margin-bottom: 10px;
    }
    &__item {
        display: flex;
        @extend .middle__xs;
        @extend .center__xs;
        margin: 20px 0;
    }
}

.tags {
    margin-bottom: 10px;
    span {
        color: #e0e0e0;
        font-size: 12px;
        padding: 4px 9px;
        font-family: $base-font-family-bold;
        border-radius: 3px;
        display: inline-block;
        background-color: rgba(#000000, 0.07);
        margin-right: 5px;
    }
}

.media {
    &-top {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    &-catalog {
        //margin: -5px;
        @media screen and (min-width: $screen-md) {
            flex-wrap: nowrap !important;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            .catalog__item {
                margin-bottom: 0;
            }
            &--f {
                //@extend .is-col__md-6;
                @extend .is-col__xs-12;
                &.fullhistory-slider {
                    @media screen and (min-width: $screen-md) {
                        padding-bottom: 0;
                    }
                    .catalog__item-img {
                        max-height: inherit;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    &-search {
        position: relative;
        padding: 0 5px;
        margin-bottom: 15px;
        input {
            padding-right: 50px;
        }
        button {
            position: absolute;
            right: 15px;
            top: 0;bottom: 0;
            background: transparent;
            border: none;
            font-size: 20px;
            color: #5499d2;
        }
    }
    &-date {
        position: relative;
        padding: 0 5px;
        margin-bottom: 15px;
        span {
            width: 50px;
            height: 100%;
            font-size: 19px;
            text-align: center;
            line-height: 50px;
            color: $white-lighten;
            border-radius: 0 3px 3px 0;
            background-color: #6d98cf;
            position: absolute;
            right: 5px;
            top: 0;bottom: 0;
        }
    }
    &-main {
        .media-catalog {
            flex-wrap: wrap !important;
        }
        .media-catalog-inner--f {
            @extend .is-col__xs-12;
            @extend .is-col__md-6;
        }
        .catalog__item-img {
            height: 100%;
            max-height: inherit;
            @media screen and (min-width: $screen-md) {
                min-height: 150px;
                img {
                    height: 100%;
                }
            }
            @media screen and (min-width: $screen-lg) {
                min-height: 230px;
                img {
                    height: auto;
                }
            }
            @media screen and (min-width: $screen-xl) {
                min-height: 310px;
            }
        }
    }
}

.tumb {
    .swiper-slide {
        height: 230px;
        @media screen and (min-width: $screen-lg) {
            height: 260px;
        }
        @media screen and (min-width: $screen-xl) {
            height: 340px;
        }
    }
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    &__item {
        position: relative;
        color: $white-lighten !important;
        margin-bottom: 10px;
        overflow: hidden;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 0;
            padding: 5px;
        }
        .catalog__item-img {
            &::before {
                content: '';
                z-index: 9;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                background: rgba(0, 0, 0, 0.25);
                @media screen and (min-width: $screen-xl) {
                    background: rgba(0, 0, 0, 0.25);
                }
            }
        }
        &:focus,
        &:hover {
            color: $white-lighten;
            .catalog__item-img {
                &::before {
                    background: url('../images/plus-wh.svg') no-repeat center / auto 50%, rgba(0, 0, 0, 0.25);
                    @media screen and (min-width: $screen-xl) {
                        background: url('../images/plus-wh.svg') no-repeat center, rgba(0, 0, 0, 0.25);
                    }
                }
            }
            img {
                transform: scale(1.1);
            }
        }
        h6 {
            margin: 0;
            line-height: 1.1;
            @media screen and (max-width: $screen-md-max) {
                font-size: 14px;
            }
            @media screen and (min-width: $screen-xl) {
                line-height: 1.4;
            }
        }
        &-date {
            font-size: 12px;
            position: absolute;
            top: 15px;
            left: 15px;
            right: 10px;
            text-transform: uppercase;
            z-index: 10;
            @media screen and (min-width: $screen-lg) {
                top: 20px;
                left: 20px;
                right: 20px;
            }
            @media screen and (min-width: $screen-xl) {
                font-size: 14px;
                top: 30px;
                left: 30px;
                right: 30px;
            }
        }
        &-img {
            overflow: hidden;
            position: relative;
            height: 100%;
            text-align: center;
            @media screen and (min-width: $screen-md) {
                max-height: 300px;
                height: 150px;
            }
            @media screen and (min-width: $screen-lg) {
                max-height: inherit;
                height: 230px;
            }
            @media screen and (min-width: $screen-xl) {
                height: 330px;
            }
            .media-catalog-inner--2h & {
                @media screen and (min-width: $screen-md) {
                    height: 310px;
                    max-height: inherit !important;
                }
                @media screen and (min-width: $screen-lg) {
                    height: 470px;
                }
                @media screen and (min-width: $screen-xl) {
                    height: 670px;
                }
            }
            img {
                @include transition();
                width: 100%;
                object-fit: cover;
                @media screen and (min-width: $screen-lg) {
                    min-height: 100%;
                    width: auto;
                }
            }
        }
        &-label {
            font-size: 10px;
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 2px 13px;
            text-transform: uppercase;
            font-family: $base-font-family-bold;
            border-radius: 11px;
            z-index: 10;
            @media screen and (min-width: $screen-md) {
                padding: 2px 6px;
            }
            @media screen and (min-width: $screen-lg) {
                top: 20px;
                right: 20px;
            }
            @media screen and (min-width: $screen-xl) {
                top: 30px;
                right: 30px;
                padding: 2px 13px;
                font-size: 12px;
            }
            &--warning {
                background-color: #e7752a;
            }
            &--purple {
                background-color: #a26cc0;
            }
            &--info {
                background-color: #48a4a3;
            }
            &--danger {
                background-color: #ea4336;
            }
            &--success {
                background-color: #86ce1f;
            }
            &--primary {
                background-color: #5499d2;
            }
        }
        &-desc {
            position: absolute;
            bottom: 15px;
            left: 15px;
            right: 10px;
            z-index: 10;
            @media screen and (min-width: $screen-lg) {
                bottom: 20px;
                left: 20px;
                right: 20px;
                p {
                    line-height: 1.6;
                }
            }
            @media screen and (min-width: $screen-xl) {
                max-width: 82%;
                bottom: 30px;
                left: 30px;
                right: 30px;
            }
        }
        &--light {
            .catalog__item-img {
                background-color: #f0f0f0;
                //min-height: 260px;
                //@media screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: portrait) {
                //    min-height: 192px;
                //}
                //@media screen and (min-width: $screen-lg) {
                //    height: 260px;
                //    img {
                //        height: 260px;
                //    }
                //}
                //@media screen and (min-width: $screen-xl) {
                //    height: 330px;
                //    img {
                //        height: 330px;
                //    }
                //}
            }
            .catalog__item-date {
                color: #787878;
            }
            .catalog__item-desc {
                color: #121212;
            }
            .tags span {
                color: #242424;
            }
        }
        &--done {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

.projects-catalog {
    .catalog__item {
        @extend .border-x-m;
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 0;
        }
    }
    .catalog__item-date {
        left: auto;
        right: 15px;
        @media screen and (min-width: $screen-md) {
            right: 30px;
        }
    }
    .catalog__item-label {
        right: auto;
        left: 15px;
        @media screen and (min-width: $screen-md) {
            left: 30px;
        }
    }
}

.awards-catalog {
    position: relative;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-lg) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-xl) {
        margin-bottom: 100px;
    }
    &-year {
        font-family: 'ProximaLig';
        font-size: 18px;
        position: relative;
        width: 100%;
        &::after {
            content: '';
            width: calc(100% - 50px);
            height: 1px;
            background-color: #e6e6e6;
            position: absolute;
            top: 0;bottom: 0;
            margin: auto;
            left: 50px;
        }
        @media screen and (min-width: $screen-md) {
            &::after {
                display: none;
            }
            width: auto;
            font-size: 13px;
            position: absolute;
            top: 6px;
            right: -24px;
            transform: rotate(-90deg);
        }
        @media screen and (min-width: $screen-lg) {
            top: 11px;
            font-size: 25px;
            right: -105px;
        }
        @media screen and (min-width: $screen-xl) {
            top: 11px;
            font-size: 34px;
            right: -155px;
        }
    }
    .catalog__item {
        padding: 0;
        &-img {
            background-color: #fafafa;
            display: flex;
            @extend .middle__xs;
            @media screen and (min-width: $screen-md) {
                height: 218px;
            }
        }
        @extend .border-x-m;
        @media screen and (min-width: $screen-md) {
            padding: 2px 1px 1px 2px;
            &-img {
                height: auto;
            }
        }
    }
    .catalog__item--main {
        .catalog__item-date,
        .catalog__item-desc {
            color: #fff;
        }
    }
    .catalog__item-date {
        color: #2c2c2c;
    }
    .catalog__item-desc {
        color: #2c2c2c;
        font-family: 'ProximaSemi';
        background-color: rgba(0,0,0,0.5);
        padding: 15px 30px;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        //@media screen and (min-width: $screen-xl) {
        //    max-width: 75%;
        //}
        h5 {
            margin: 0;
            font-size: 16px;
            line-height: 1.2;
            font-family: 'ProximaSemi';
            @media screen and (min-width: $screen-lg) {
                font-size: 18px;
            }
            @media screen and (min-width: $screen-xl) {
                font-size: 20px;
            }
        }
    }
}

.directions {
    &-catalog {
        margin: -5px;
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            line-height: 1.1;
        }
        h3 {
            font-size: 20px;
            @media screen and (min-width: $screen-xl) {
                font-size: 32px;
            }
        }
        h5 {
            font-size: 20px;
            text-transform: initial;
            @media screen and (min-width: $screen-md) {
                font-size: 18px;
            }
            @media screen and (min-width: $screen-lg) {
                font-size: 17px;
            }
            @media screen and (min-width: 1300px) {
                font-size: 22px;
            }
            @media screen and (min-width: $screen-xl) {
                font-size: 24px;
            }
        }
        h5,
        p {
            margin: 0;
            line-height: 1.1;
        }
        //.catalog__item-img {
        //    min-height: 200px;
        //    @media screen and (min-width: $screen-md) {
        //        min-height: inherit;
        //    }
        //}
        .catalog__item-img {
            height:100%;
            max-height:100%;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            &--f {
                @extend .is-col__md-6;
                @extend .is-col__xs-12;
            }
        }
    }
}
