//
// Pages -> Index
// ------------------------------------

.banner {
    min-height: 100vh;
    background: url('../images/direction-main.jpg') no-repeat center / cover;
    display: flex;
    @extend .middle__xs;
    position: relative;
}
.scrollto {
    position: absolute;
    bottom: 20px;
    right: 20px;
    @media screen and (min-width: $screen-xl) {
        bottom: 50px;
        right: 50px;
    }
}
.direction {
    padding: 0;
    .return-link {
        top: -80px;
        position: relative;
    }
    .return-link, .return-link i {
        color: $white-lighten;
    }
    &-box {
        position: relative;
        color: $white-lighten;
        i {
            color: $white-lighten;
        }
        @extend .border-x-m;
        @media screen and (min-width: $screen-md) {
            padding: 40px;
        }
        @media screen and (min-width: $screen-lg) {
            padding: 80px;
        }
        @media screen and (min-width: $screen-xl) {
            padding: 140px 80px;
        }
        h1 {
            margin-bottom: 30px;
            line-height: 1.2;
        }
    }
    &-sub {
        ul {
            color: #666666;
        }
        @media screen and (min-width: $screen-adaptive-nav) {
            padding-top: 60px;
            padding-bottom: 60px;
            background: url("../images/back.png") no-repeat top -250px right -225%;
        }
        @media screen and (min-width: $screen-xl) {
            padding-top: 90px;
            padding-bottom: 90px;
            background: url("../images/back.png") no-repeat top -3% right -63%;
        }
        h5 {
            font-family: 'ProximaSemi';
            @media screen and (min-width: $screen-md) {
                margin-bottom: 40px;
            }
        }
    }
    &-slider {
        position: relative;
        @media screen and (min-width: $screen-md) {
            margin: 30px 0;
        }
        .swiper-container {
            padding: 10px 2px;
        }
        .slider__item {
            position: relative;
            padding: 2px;
            @extend .border-x-m;
            &-label {
                color: $white-lighten;
                padding: 2px 10px;
                border-radius: 13px;
                background-color: #5499d2;
                position: absolute;
                top: 20px;
                left: 20px;
                @media screen and (min-width: $screen-md) {
                    top: 30px;
                    left: 30px;
                }
            }
            &-title {
                color: $white-lighten;
                position: absolute;
                left: 20px;
                bottom: 20px;
                @media screen and (min-width: $screen-md) {
                    left: 30px;
                    bottom: 30px;
                }
                h4 {
                    margin: 0;
                }
            }
        }
        &-custom {
            position: absolute;
            display: flex;
            @extend .between__xs;
            left: 0;right: 0;
            bottom: -10px;
            @media screen and (min-width: $screen-md) {
                top: -70px;
                bottom: auto;
                right: -40px;
                left: auto;
            }
            @media screen and (min-width: $screen-xl) {
                right: 5%;
            }
            .swiper-button-next {
                position: relative;
                @media screen and (min-width: $screen-md) {
                    &:after {
                        content: '';
                        width: 1px;
                        height: 39px;
                        background-color: #242424;
                        position: absolute;
                        left: 0;
                    }
                }
            }
            .swiper-button-prev {
                img {
                    transform: rotate(180deg);
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                background-color: $white-lighten;
                @media screen and (min-width: $screen-md) {
                    padding: 0 35px;
                }
                &:before {
                    display: none;
                }
                border: none;
                width: auto;
                &:hover img {
                    opacity: 0.3;
                }
            }
        }
    }
}
