.longlist {
    &__item {
        margin-bottom: 40px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 50px;
        }
        @media screen and (min-width: $screen-xl) {
            margin-bottom: 60px;
        }
    }
    &-img {
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 0;
        }
        @extend .border-x;
        &::after,
        &::before,
        span::after,
        span::before {
            background-color: #2b6ca2;
        }
    }
    &-desc {
        h5 {
            margin-top: 0;
            font-size: 20px;
            @media screen and (min-width: $screen-md) {
                font-size: 24px;
            }
        }
        a {
            color: #007ac1;
        }
    }
}

.news-one {
    .date {
        color: #9a9a9a;
        font-size: 14px;
        font-family: 'ProximaReg';
        text-transform: uppercase;
        margin-top: 10px;
        b {
            font-family: 'ProximaBold';
        }
    }
    p {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: $screen-xl) {
            margin-bottom: 45px;
        }
    }
    .sign {
        font-family: 'ProximaSemiIt';
    }
    .main-title {
        line-height: 1.1;
        margin-bottom: 30px;
        position: relative;
        @media screen and (min-width: $screen-xl) {
            margin-bottom: 70px;
        }
        .catalog__item-label {
            bottom: 0;
            top: auto;
            right: 0;
            color: #ffffff;
            @media screen and (min-width: $screen-lg) {
                bottom: auto;
                top: 10px;
            }
        }
    }
    .catalog__item {
        &:last-child {
            @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
                display: none !important;
            }
        }
    }
    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md) {
            margin-top: 60px;
        }
        @media screen and (min-width: $screen-xl) {
            margin-top: 100px;
            margin-bottom: 30px;
        }
    }
    .social {
        color: #9a9a9a;
        font-size: 18px;
        li:first-child {
            margin-right: 30px;
        }
        a {
            font-family: 'ProximaBold';
            &:hover {
                text-decoration: underline;
            }
        }
        .vk {
            color: #48729e;
        }
        .fa {
            color: #3b5998;
        }
        .tw {
            color: #00aced;
        }
    }
}

.sert-main {
    h4 {
        margin-bottom: 35px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @media screen and (min-width: $screen-xl) {
            margin-bottom: 90px;
        }
    }
    &__item {
        background-color: #fafafa;
        padding: 20px;
        @extend .is-col__xs-12;
        @extend .is-col__md-6;
        @extend .is-col__lg-4;
        height: 290px;
        display: flex;
        flex-direction: column;
        position: relative;
        @extend .border-x-m;
        color: #121212;
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md) {
            padding: 30px;
        }
        @media screen and (min-width: $screen-xl) {
            margin-bottom: 0;
            padding: 40px 37px;
            height: 380px;
        }
        a {
            color: #121212;
            &:hover,
            &:active,
            &:focus {
                color: $link-hover-color;
            }
        }
        &--img {
            height: auto;
        }
        &-img {
            text-align: center;
            margin-bottom: 40px;
        }
        &-label {
            display: inline-block;
            padding: 3px 20px;
            width: 70px;
            color: $white-lighten;
            background-color: #005ca4;
            &.label--danger {
                background-color: #df324a;
            }
        }
        &-desc {
            margin-top: auto;
            font-size: 16px;
            line-height: 1.2;
            font-family: 'ProximaSemi';
            @media screen and (min-width: $screen-xl) {
                font-size: 20px;
                min-height: 95px;
            }
        }
    }
}

.addvideo {
    position: relative;
    display: block;
    margin-bottom: 30px;
    img {
        width: 100%;
    }
    i {
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        height: 70px;
        width: 70px;
        margin: auto;
    }
}
