$icons: (
	  sprite: (width: 908px, height: 353.7px, svgPath: '../images/svg/sprite.svg'),
 	close: (width: 49px, height: 49px, backgroundX: 0px, backgroundY: 0px),
 	left: (width: 25px, height: 7px, backgroundX: -69px, backgroundY: 0px),
 	left-w: (width: 25px, height: 7px, backgroundX: -114px, backgroundY: 0px),
 	mark: (width: 50px, height: 50px, backgroundX: -159px, backgroundY: 0px),
 	play: (width: 82px, height: 83px, backgroundX: -229px, backgroundY: 0px),
 	plus: (width: 59px, height: 60px, backgroundX: -331px, backgroundY: 0px),
 	right: (width: 25px, height: 7px, backgroundX: -410px, backgroundY: 0px),
 	right-w: (width: 25px, height: 7px, backgroundX: -455px, backgroundY: 0px),
 	sign: (width: 333.7px, height: 333.7px, backgroundX: -500px, backgroundY: 0px),
 	top: (width: 7px, height: 25px, backgroundX: -854px, backgroundY: 0px),
 	top-w: (width: 7px, height: 25px, backgroundX: -881px, backgroundY: 0px),
);
