//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0 50px;
    @media screen and (min-width: $screen-md) {
        margin: 50px 0;
    }

    &__item {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 6px;
      &:first-child,
      &:last-child {
        a {
            line-height: 38px;
            text-align: center;
            font-size: 16px;
            width: 40px;
            height: 40px;
            border: 1px solid #cacaca;
            background-color: #fff;
            &:hover,
            &:focus {
            background-color: #fbfcfe;
            }
        }
      }
    }

    &__link {
      position: relative;
      font-size: 22px;
      float: left;
      text-decoration: none;
      color: #676767;
      &:hover,
      &:focus {
        color: #303030;
      }
    }

    &__item.active a {
      &,
      &:hover,
      &:focus {
        color: #303030;
        cursor: default;
      }
    }
  }
}
